/* .draggable {
    width: 50px; 
    height: auto;
    margin: 10px;
    cursor: grab;
  }
  
  .draggable:active {
    cursor: grabbing;
  }
  
  #toolkit {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  #canvas {
    min-height: 200px;
    border: 1px dashed #aaa;
    position: relative;
  }
   */


   .flex-container {
    display: flex;
    height: 100vh; /* 使容器高度与视口高度相同 */
  }
  
  #toolkit-area {
    position: relative;
    flex: 65; /* 占总宽度的65% */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: solid black 1px; /* 在右侧添加分割线 */
    overflow: auto; /* 如果内容超出，允许滚动 */
  }
  
  #canvas-area {
    position: relative;
    flex: 35; /* 占总宽度的35% */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto; /* 如果内容超出，允许滚动 */
    z-index: 1; 
  }
  
  /* 其他样式保持不变 */
  .draggable{

    margin: 1rem; 
    
    /* border:solid red 1px; */
    
    
    }

  
#toolkit-area{
  
  display: flex; /* 设置为flex容器 */
  flex-wrap: wrap; /* 允许子项换行 */
  align-items: center; /* 子项在交叉轴的起始位置对齐 */
  justify-content: center; /* 子项在主轴的起始位置对齐 */
  width: 100rem; /* 根据需要调整 */
  height: auto; /* 根据需要调整 */
  /* border: solid red 1px;  */
  padding: 1rem; /* 提供一些内间距 */
  border-right: solid black 1px;
  position: relative;

}

#canvas-area{
  display: flex; /* Make canvas-area a flex container */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: start; /* Align children to the start vertically */
  /* border-left: solid black 1px; */
  padding: 5rem;
}
#canvas{
  width:25rem;
  height: auto;
  margin: auto auto;

}
.btn{
  /* margin-top: 0.5rem; */
  border:black solid 1px;
  border-radius: 10px;
  background-color: white;
  padding: 0.5rem 1rem;

}
#toolkit-area, #canvas-area {
  overflow: visible;
}
h2{
  width: 400px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  /* border: red solid 1px; */
  


}

#p1-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 使得 body 至少和视口一样高 */
  margin: 0; /* 移除默认的 margin */
}

.guidance-container {
  display: flex;
  flex-direction: column; /* 使子元素垂直排列 */
  align-items: center; /* 水平居中 */
  text-align: center;
  
}

#guidanceBtn{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size:18px;
  margin-top: 5rem;
}
#wordgoal{
  font-weight: 800;
}
#realcharacter{
  font-size: 300px;
  margin-right:-500px;
  margin-top: 100px; 
  margin-left: 100px;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 100;
}
#reflectionText,#submitbutton {
  position: absolute; /* 或者 `fixed`，视需要而定 */

  left: 50%;
  transform: translate(-50%, -50%);

}
#reflectionText{
  top: 50%;
  width: 200px;
  height: 300px;
  z-index: 10;
}
#submitbutton{
  top: 90%;
  width: 300px;
  height: 60px;
  z-index: 40;
}